.App {
  text-align: center;
}
.img {
  margin-top: -76px;
  width: 150px;
  height: 150px;
}
.header {
  margin-block-start: 50px;
  width: 400px;
  height: 400px;
  background-color: rgba(145, 81, 204, 0.589);
  border-radius: 8px;
  text-align: center;
  margin: 80px auto;
}
.btn {
  width: 100px;
  height: 80px;
  font-size: 0.5rem;
  background-color: rgba(190, 75, 98, 0.575);
}
.btn:hover {
  background-color: rgb(190, 75, 98);
}
